.git/*
env/
venv/
.venv
.venv/
.vscode/
sent_emails
.flake8
htmlcov
pages_*

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

static/
pic_app/static/
pic_app/media/

db.sqlite3

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover